* {box-sizing: border-box; font-family: Futura, "Trebuchet MS", Arial, sans-serif;}
body {margin: 0;}
.col-1 {width: 8.33%; float: left;}
.col-2 {width: 16.66%; float: left;}
.col-3 {width: 25%; float: left;}
.col-4 {width: 33.33%; float: left;}
.col-5 {width: 41.66%; float: left;}
.col-6 {width: 50%; float: left;}
.col-7 {width: 58.33%; float: left;}
.col-8 {width: 66.66%; float: left;}
.col-9 {width: 75%; float: left;}
.col-10 {width: 83.33%; float: left;}
.col-11 {width: 91.66%; float: left;}
.col-12 {width: 100%; float: left;}

#continer {
    width: 95%;
    margin: 0 auto;
}

#navbar {
    background-color: #0F1E3C;
    overflow: hidden;
}
#navbar a{
    display: block;
    text-decoration: none;
    padding-top: 0.5vw;
}
h1 {
    font-size: 2.8vw;
    text-align: center;
}
#header-title {
    text-decoration: none;
    color: #DD362B;
    text-shadow: 0.15vw 0.15vw #fff;
}
#header-title:hover {
    text-align: center;
    text-decoration: none;
    transition: 0.8s;
}
h2 {
    font-size:1.9vw;
    text-align: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}
h2 a {
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 1.9vw 0;
    color: white ;
}
h2 a:hover {
    display: block;
    text-decoration: none;
    text-align: center;
    transition: 0.8s;
    color: #444;
}
h3 {
    font-size: 2vw;
    text-align: center;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
}
#about-desc {
    font-size: 2vw;
    float: left;
    padding: 0;
}
.heightspace {
    height: 2vw;
}
.navspace {
    height: 2vw;
}
.profile-picture {
    background-color: #6e7376;
}
#pp {
    border-radius: 15%;
    margin: 12% 0;
    padding: 0 !important;
}
div a img {
    box-sizing: inherit;
    float: left;
}
#finnish-up {
    background-color: #444;
    margin-top: 2vh;
}
h4 {
    color: #ECECEC;
    font-size: 1.5vw;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    padding: 0;
}
@media only screen and (max-width: 1220px) {

    #PP {
        margin: 45px 0;
    }
    .progress-bar {
      height: 5px !important;
    }
}
@media only screen and (max-width: 745px) {
    h1 {
        font-size: 5vw;
    }
    .sticky + .content {
      padding-top: 20% !important;
    }
    #pp {
        margin: 15px 0;
    }
    .progress-bar {
        height: 3px !important;
    }
}
.content {
  padding: 1vh 0;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 10%;
}
#img-container div img {
    padding: 4%;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1px;
}
.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 100%;
    padding: 0 1px;
}
.column img {
    vertical-align: middle;
}
img{-webkit-user-drag: none;} /*stops img ghost dragging */
.progress {
  position: fixed;
  top: 0;
  z-index: 1;
}
.progress-bar {
  height: 0.5vh;
  background: lightpink;
  width: 0%;
}
